<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><b>Number of synths: <%= synthesizerCount %><b></p>
    <p><b>Number of brands: <%= brandCount %><b></p>
    <p><b>Number of synthesizer types: <%= synthTypeCount %><b></p>
    <button><a href="/synthesizers">View Synthesizers</a></button>
  </body>
</html>
