<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add a Synth</h1>
    <form class="synth-form" action="/synthesizers/create" method="post">
        <div>
          <input id="synthName" name="synthName" type="text"
          value="<%= !synthesizer ? '' : synthesizer.name %>">
          <label for="synthName">Name</label>
        </div>
        <div>
          <input id="releaseYear" name="releaseYear" type="text"
          value="<%= !synthesizer ? '' : synthesizer.releaseYear %>">
          <label for="releaseYear">Release Year</label>
        </div>
        <div>
          <input id="price" name="price" type="number"
          value="<%= !synthesizer ? '' : synthesizer.price %>">
          <label for="price">Price (£)</label>
        </div>
        <div>
          <input id="stock" name="stock" type="number"
          value="<%= !synthesizer ? '' : synthesizer.stock %>">
          <label for="stock">Stock</label>
        </div>
        <div>
          <input id="url" name="url" type="text"
          value="<%= !synthesizer ? '' : synthesizer.url %>">
          <label for="url">URL</label>
        </div>
        <div class="synth-form__select-menu">
          <select name="brand" id="brand">
            <option value="">Select Brand</option>
            <% allBrands.map((brand) => { %>
              <option value="<%= brand._id %>"><%= brand.name %></option>
              <% }) %>
          </select>
          <select name="synthType" id="synthType">
            <option value="">Select Type</option>
            <% allSynthTypes.map((type) => { %>
              <option value="<%= type._id %>"><%= type.name %></option>
              <% }) %>
          </select>
        </div>
        <button type="submit">Add Synth</button>
    </form>
  </body>
</html>
