<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="table__wrapper">
        <table cellspacing="0">
            <tr id="table__heading">
                <th>Synthesizer</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Price</th>
                <th>Year</th>
                <th>Stock</th>
            </tr>
            <tr>
                <td><%= synthesizer.name%></td>
                <td><%= synthesizer.brand.name%></td>
                <td><%= synthesizer.synthType.name%></td>
                <td>£<%= synthesizer.price%></td>
                <td><%= synthesizer.releaseYear%></td>
                <td><%= synthesizer.stock%></td>
            </tr>
        </table>
        <form action="/synthesizers/<%=synthesizer._id%>/delete" method="post">
            <button type="submit" class="delete-btn">
                Delete
            </button>
        </form>
    </div>
  </body>
</html>