<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="table__wrapper">
      <table cellspacing="0">
        <tr>
          <th>Synthesizer</th>
          <th>Brand</th>
          <th>Price</th>
          <th>Year</th>
          <th>Stock</th>
        </tr>
        <% synthesizers.map((synth) => { %>
            <tr>
                <td>
                  <a href="/synthesizers/<%= synth._id %>/update"><%= synth.name%></a>
                </td>
                <td><%= synth.brand.name%></td>
                <td>£<%= synth.price%></td>
                <td><%= synth.releaseYear%></td>
                <td><%= synth.stock%></td>
              </tr>
              <% }) %>
      </table>
      <button><a href="/synthesizers/create">Add Synthesizer</a></button>
    </div>
  </body>
</html>
