<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Synthesizer Info</h1>
    <form class="synth-form" action="/synthesizers/<%=synthesizer._id%>/update" method="post">
        <div>
          <input id="synthName" name="synthName" type="text"
          value="<%= synthesizer.name %>">
          <label for="synthName">Name</label>
        </div>
        <div>
          <input id="releaseYear" name="releaseYear" type="text"
          value="<%= synthesizer.releaseYear %>">
          <label for="releaseYear">Release Year</label>
        </div>
        <div>
          <input id="price" name="price" type="number"
          value="<%= synthesizer.price %>">
          <label for="price">Price (£)</label>
        </div>
        <div>
          <input id="stock" name="stock" type="number"
          value="<%= synthesizer.stock %>">
          <label for="stock">Stock</label>
        </div>
        <div>
          <input id="url" name="url" type="text"
          value="<%= synthesizer.url %>">
          <label for="url">URL</label>
        </div>
        <div class="synth-form__select-menu">
          <select name="brand" id="brand">
            <option value="">Select Brand</option>
            <% allBrands.map((brand) => { %>
              <option value="<%= brand._id %>" 
                <%=synthesizer.brand._id.toString() === brand._id.toString() ? 'selected' : '' %>><%= brand.name%></option>
              <% }) %>
          </select>
          <select name="synthType" id="synthType">
          <% allSynthTypes.map((type) => { %>
            <option value="">Select Type</option>
            <option value="<%= type._id %>"
                <%=synthesizer.synthType._id.toString() === type._id.toString() ? 'selected' : '' %>><%= type.name %></option>
            <% }) %>
          </select>
        </div>
        <button type="submit">Update Synth Info</button>
    </form>
  </body>
</html>
